li{
    text-decoration: none;
    list-style: none;
}

.carousel-container{
    width: 800px;
    margin: 0 auto;
}
.previous{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(48, 48, 48);
}
.next{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(160, 160, 160);
}
.carousel-images{
    display: flex;
    width: 300px;
    overflow: hidden;
}
@keyframes autoCarousel {
    0%{ right: calc(300px * 0);}
    15%{ right: calc(300px * 0);}
    25%{ right: calc(300px * 1);}
    40%{ right: calc(300px * 1);}
    50%{ right: calc(300px * 2);}
    65%{ right: calc(300px * 2);}
    75%{ right: calc(300px * 3);}
    90%{ right: calc(300px * 3);}
    100%{ right: calc(300px * 0);}
}

.carousel-list{
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
}
.carousel-list:hover{
    animation-name: autoCarousel;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.carousel-item{
    display: flex;

}
.carousel-img-container{
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0;
}
.carousel-img{
    width: 300px;
    height: auto;
    image-rendering: pixelated;
}
.btn:focus-within{
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    animation-name: autoCarousel;
}