@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color: rgb(165, 189, 211);
    background-color: rgb(40, 41, 47);
    overflow: hidden;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 3em;
    font-size: 2.2em;
    text-shadow: 3px 3px 5px #000000;
    
}
.title h1{
    z-index: 100;
}

.cake{
    align-self:center ;
}
.cake-figure{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1000px;
    animation-name: cakeMove;
    animation-delay: 3s;
    animation-duration: 10s;
    
    animation-fill-mode: forwards;
}
.cake-img{
    z-index:0;
}

.name{
    animation: nameColor 3s infinite;
}
@keyframes cakeMove {
    0%{
        top: 1000px;
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        top: -75vh;
        opacity: 1;
    }
}


@keyframes nameColor {
    0%{
        color:rgb(165, 189, 211);
    }
    20%{
        color:rgb(165, 189, 211);
    }
    40%{
        color:rgb(254, 208, 83);
    }
    70%{
        color:rgb(254, 208, 83);
    }
    90%{
        color:rgb(165, 189, 211);
    }
}